*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
/* 定义一个字体 */
@font-face{
    font-family: 'MyIcon';
    src: url(../font/glyphicons-halflings-regular.woff2)
}

a{
    color: #000;
}
body{
    background: url(../img/bg.jpg);
}
/* 头部和尾部都是公共的部分, 所以写在这里 */
/* 头部 */
header{
    height: 50px;
    background-color: #191918;
}
body{
    text-align: center;
}
.head-content{
    height: 50px;
    width: 1170px;
    position: relative;
    margin: 0 auto;
    color: #fff;
}
.head-text{
    float: left;
    font-size: 18px;
    font-weight: 500;
    margin: 0 15px;
    color: #eee;
    line-height: 50px;
}
/* 菜单导航 */
ul.menu{
    float: left;
    margin-left: 10px;
}
ul.menu li{
    float: left;
    width: 58px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
}
ul.menu li a{
    color: #eee;
    display: inline-block;
    height: 100%;
    width: 100%;
}
ul.menu li:hover a{
    color: #aaa;
}
.right>input{
    display: inline-block;
    height: 22px;
    border: 1px solid black;
    font-size: 14px;
    outline: none;
    border-radius: 8px;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    right: 60px;
}
.right>button{
    height: 34px;
    width: 54px;
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    right: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    color: #555;
}
.right button:hover{
    background-color: #ccc;
}

/* 中间的部分 */
.content{
    width: 1170px;
    position: relative;
    margin: 30px auto 0;
}

.content::after{
    display: block;
    content: '';
    clear: both;
}

/* 中间部分的左边 */
.c-left{
    float: left;
    width: 66%;
    padding: 0 20px 0 0;
    box-sizing: border-box;
}
/* 中间部分的右边 */
.c-right{
    float: right;
    width: 34%;
    padding: 0;
    box-sizing: border-box;
}

/* 中间右侧部分, 标签云 */
.right_module{
    background-color: #1f1f1f;
    border-radius: 10px;
    color: #fff;
    padding: 0 15px 25px;
    margin-bottom: 20px;
    text-align: left;
}
.right_module a{
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}
.right_module div{
    display: block;
    font-size: 14px;
    padding: 15px 5px 15px 0;
    color: dodgerblue;
}

.right_module>ul>li{
    padding: 8px 0;
    border-bottom: 1px solid #292929;
}
.right_module>ul>li>div{
    padding: 5px 0;
}
.right_module>ul>li>div span{
    font-size: 14px;
    color: #fff;
}
.right_module>ul>li p{
    font-size: 14px;
    color: #777;
}
.right_module .pull_right{
    position: absolute;
    right: 15px;
}


.right_module>span{
    display: inline-block;
    width: 50%;
    height: 30px;
    margin-top: 10px;
}

.footer{
    background-color: #191818;
    height: 60px;
    padding: 20px;
}

.footer ul>li{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;

}
.footer ul>li>a{
    color: #a2a2a2;
}
.footer p{
    margin-top: 10px;
    color: #a2a2a2;
}
