

.blog{
    width: 96%;
    background: #F5F5F5;
    box-shadow: 3px 3px 4px #cccccc;
    margin: 10px 15px;
    text-align: left;
    padding: 15px;
}
.blog_title{
    font-size: 18px;
    font-weight: 600;
}
.blog_msg{
    border-bottom: 1px solid gray;
    margin: 10px 0;
    padding: 15px 0;
}
.blog_content{
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}









